// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@900&display=swap');
// COLORS
$mainblue: #080E2F;
$skillswhite: #FFFFFF;
$aboutgreen: #0E4946;
$skillsteal: #146166;
$iconblock: #023430;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    .house {
        #home {
            height: 100vh;
            background-color: $mainblue;
            color: white;
            display: flex;
            flex-direction: column;
            // justify-content: center;
        }
        #skills {
            height: 100vh;
            background-color: $skillsteal;
            color: white;
            display: flex;
            flex-direction: column;
        }
        #about {
            height: 100vh;
            background-color: $aboutgreen;
            color: white;
            display: flex;
            flex-direction: column;
        }
        #portfolio {
            height: 100vh;
            background-color: $mainblue;
            color: white;
            display: flex;
            flex-direction: column;
        }
    }
}